
/* Dark or Light mode: */
body.dark {
  background-color: rgb(43, 43, 43);
  color: rgb(249, 249, 249);
  scrollbar-color: rgb(43, 43, 43) black;
}
body.light {
  background-color: #fff;
  color: #242424;
}
body.dark img#settings, body.dark img#cpClipboard{
  filter: invert(100%) ;
}
body.dark #tabs {
  background-color: black;
  color: rgba(249, 249, 249, 0.8);
}
body.light #tabs {
  background-color: #f1f1f1;
}
body.dark #tabs button, body.mainmode.dark #maintab, body.mapmode.dark #maptab {
  color: white;
}
body.dark a, body.dark a:hover, body.dark a:active, body.dark a:visited {
  color: rgb(69, 161, 255);
}
body.dark #tabs button:hover {
  background-color: rgb(29, 29, 29);
}
body.light #tabs button:hover {
  background-color: #f8f8f8;
}
body.dark.mapmode #maptab, body.dark.mainmode #maintab {
  background-color: rgb(43, 43, 43);
}
body.light.mapmode #maptab, body.light.mainmode #maintab {
  background-color: #fff;
}
body.dark #data tr:hover {
  background-color: rgb(49, 49, 49);
}
body.light #data tr:hover {
  background-color: rgb(248, 248, 248);
}
body.dark #data tr.clickable:hover {
  color: #FD2;
}
body.light #data tr.clickable:hover {
  background-color: #FFFADF;
}


/* General layout and visibility: */
html, body {
  box-sizing: border-box;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  cursor: default;
  font: caption;
  font-size: 14px;
}
#main {
  padding: 1.5rem 1.3em .5rem 1.5rem;
  height: auto;
  background-image: url("../icons/xIFr-32.png");
  background-position: right 1.3rem top 1.5rem;
  background-repeat: no-repeat;
}
img#settings, img#cpClipboard {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0.2;
  right: 1.3rem;
  bottom: .5rem;
  cursor: pointer;
}
img#cpClipboard {
  right: 3rem;
}
body.mapmode img#cpClipboard, body.copyUnsupported img#cpClipboard {
  display: none;
}
#map {
  height: calc(100% - 5rem); /* room for the larger-map link */
  padding: 0;
}
.mainmode #main, .mapmode #map {
  display: block;
}
.mainmode #map, .mapmode #main {
  display: none;
}
#map iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
#image, #properties {
  margin: 0 0 1ch 0;
}
#image /* , #properties */ {
  float: left;
  margin-right: 1rem;
}
#image > img {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #777;
  margin: 0;
  padding: 0;
  display: block;
  background-image: url("../icons/background.png");
}
#messages {
  margin: 1ch 0;
  clear: both;
  display: none;
}
#messages img {
  border: none;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  vertical-align: sub;
}
#data {
  margin: 1ch 0 0 0;
  clear: both;
  width: 100%;
  border: none;
  padding: 0;
  border-collapse: collapse;
}
#data .labels {
  width: 19ch;
}
#data tr.scsv td:last-child {
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
}
#data td {
  vertical-align: top;
  padding: 2px 1px;
}
#data td:first-child {
  padding-right: .5rem;
}
.expandable {
  display: none;
}
.expandGps .expandable.gps, .expandSoftware .expandable.software {
  display: inline;
}
#maplinks {
  margin: 0;
  padding: 0;
  border: none;
  float: right;
  width: auto;
}
#maplinks > div {
  float: left;
  color: white;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  margin: 0 0 0 .5ch;
  background-image: url("../icons/globe-32.png");
  background-size: 16px 16px;
}
#maplinks > div > a {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
}
#maplinks a, #maplinks a:hover, #maplinks a:active, #maplinks a:visited {
  color: white;
  text-decoration: none;
}
body.copypastemode #maplinks {
  display: none;
}
.OSM, .Google, .Bing, .MapQuest, .Here, .Flickr {
  display: none;
}
.showOSM .OSM, .showGoogle .Google, .showBing .Bing, .showMapQuest .MapQuest, .showHere .Here, .showFlickr .Flickr {
  display: block;
}
body.mainmode #maptab.disabled {
  color: transparent;
  cursor: inherit;
}

/* Tabs: */
#tabs {
  overflow: hidden;
  border: none;
  min-width: 25rem;
  position: relative;
}
#tabs button {
  background: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 12rem;
}
.mapmode #maptab, .mainmode #maintab {
  font-weight: bold;
}
.mapmode #maptab:focus, .mainmode #maintab:focus {
  outline: none; /* why doesn't this work ? */
}
#maintab, #maptab {
  animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
