html, body {
  background-color: rgb(42, 42, 46);
  box-sizing: border-box;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background-color: #fff;
  color: #222426;
  cursor: default;
  font: caption;
  font-size: 14px;
}

#main {
  padding: 1.5rem 1.3em .5rem 1.5rem;
  height: auto;
  background-image: url(/icons/xIFr-32.png);
  background-position: right 1.3rem top 1.5rem;
  background-repeat: no-repeat;
}

img#wheel {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0.2;
  right: 1.3rem;
  bottom: 1rem; /* .4rem; */
  cursor: pointer;
}
#map {
  height: calc(100% - 5rem); /* room for the larger-map link */
  padding: 0;
}

.mainmode #main, .mapmode #map {
  display: block;
}
.mainmode #map, .mapmode #main {
  display: none;
}

#map iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

#image, #properties {
  margin: 0 0 1ch 0;
}
#image /* , #properties */ {
  float: left;
  margin-right: 1rem;
}
#image > img {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #777;
  margin: 0;
  padding: 0;
  display: block;
  background-image: url("/icons/background.png");
}

#messages, #data {
  margin: 1ch 0;
}

#messages {
  clear: both;
  display: none;
}
#messages img {
  border: none;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  vertical-align: sub;
}

#data {
  clear: both;
  width: 100%;
}
#data .labels {
  width: 18ch;
}
#data td {
  vertical-align: top;
}

#maplinks {
  margin: 0;
  padding: 0;
  border: none;
  float:right;
  width:auto;
}

#maplinks > div {
  float: left;
  color: #fff;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  margin: 0 .2ch;
  background-image: url(/icons/globe-32.png);
  background-size: 16px 16px;
}

#maplinks > div > a {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
}

#maplinks a, #maplinks a:hover, #maplinks a:active, #maplinks a:visited {
  color: white;
  text-decoration: none;
}

#tabs {
  overflow: hidden;
  border: none;
  background-color: #f1f1f1;
  min-width: 25rem;
  position: relative;
}
#tabs button {
  background: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 12rem;
}
#tabs button:hover {
  background-color: #f8f8f8;
}
.mapmode #maptab, .mainmode #maintab {
  background-color: #fff;
  font-weight: bold;
}
#maintab, #maptab {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.OSM, .Google, .Bing, .MapQuest, .Here, .Flickr {
  display: none;
}
.showOSM .OSM, .showGoogle .Google, .showBing .Bing, .showMapQuest .MapQuest, .showHere .Here, .showFlickr .Flickr {
  display: block;
}

/* Dark mode: */

body.dark {
  background-color: rgb(42, 42, 46);
  color: rgb(249, 249, 250);
}
body.dark img#wheel {
  filter: invert(100%) ;
}
body.dark #tabs {
  background-color: black;
  color: rgba(249, 249, 250, 0.8);
}
body.dark #tabs button {
  color: white;
}
body.mainmode.dark #maintab {
  color: white;
}
body.mapmode.dark #maptab {
  color: white;
}
body.dark a, body.dark a:hover, body.dark a:active, body.dark a:visited{
  color: rgb(69, 161, 255);
}
body.dark #buttonzone {
  background-color: rgb(56, 56, 61);
}
body.dark #tabs button:hover {
  background-color: rgb(28, 28, 31);
}
body.mapmode.dark #maptab {
  background-color: rgb(42, 42, 46);
  font-weight: bold;
}
body.mainmode.dark #maintab {
  background-color: rgb(42, 42, 46);
  font-weight: bold;
}


body.mainmode #maptab.disabled {
  color: transparent;
  cursor: inherit;
}
